{%- for user_name, user_details in users.items() %}
username {{user_name}}
  {%- if user_details.get('level') %}
    no group
  {%- if user_level == 15 %}
    group root-system
  {%- elif user_level == 5 %}
    group operator
  {%- elif user_level == 2 %}
    group serviceadmin
  {%- elif user_level == 1 %}
    group sysadmin
  {%- endif %}
  {%- endif %}
  {%- if user_details.get('password') %}
    secret 5 {{user_details.password}}
  {%- endif %}
{%- endfor %}
